<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.mathgame">

    <application
        android:allowBackup="true"
        android:name="com.simple.mathgame.MathApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathGame">
        <activity
            android:name="com.simple.mathgame.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MathGame.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".operations.OperationActivity"
            android:theme="@style/Theme.MathGame.NoActionBar">
        </activity>
    </application>

</manifest>